.blogoverview {
  display: flex;
  flex-direction: column;
}

.blogentry {
  flex-basis: 20%;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 1px;

  background-color: darkred;
  color: lightgray;
  border-radius: 20px;
  padding: 10px;
}

.blogentry:hover {
  background-color: red;
}

.beTitle {
  font-size: large;
  font-weight: bold;
}

.beAuthor {
  float: right;
}

.beComments {
  font-size: small;
}

.beLikes {
  font-size: small;
  float: right;
}

.beLikesMe {
  @extend .beLikes;
  color: aqua;
}
